<div class="navbar panel row">
  <ul class="menu row">
    <li class="home-button" [routerLink]="['']"><img class="logo" src="/assets/photos/home-icon.png"/></li>
    <li [routerLink]="['experience']">Doświadczenie</li>
    <li>Projekty</li>
    <li>Kontakt</li>
  </ul>
  <ul class="social row">
    <li class="zoom-in-larger"><img class="logo" src="/assets/photos/linkedin-icon.png"/></li>
    <li class="zoom-in-larger"><img class="logo" src="/assets/photos/github-logo.png"/></li>
  </ul>
</div>
