<div class="navbar panel row">
  <ul class="menu row">
    <li class="home-button" [routerLink]="['']"><img class="logo" src="/assets/photos/home-icon.png"/></li>
    <li [routerLink]="['experience']">Doświadczenie</li>
    <li [routerLink]="['projects']">Projekty</li>
    <li>Kontakt</li>
  </ul>
  <ul class="social row">
    <a href="https://www.linkedin.com/in/berneckimarcin/"><li class="zoom-in-larger"><img class="logo" src="/assets/photos/linkedin-icon.png"/></li></a>
    <a href="https://github.com/MarcinBerry"><li class="zoom-in-larger"><img class="logo" src="/assets/photos/github-logo.png"/></li></a>
  </ul>
</div>
