:host {
  display: block;
}
.navbar{
  justify-content: space-between;
}
ul {
  align-items: center;
}
li {
  cursor: pointer;
}
.logo {
  height: 23px;
}
.menu li {
  padding: 21px;
  transition: 0.3s;
}
.menu li:hover {
  color: var(--main-color);
}
.home-button {
  background-color: var(--main-color);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  transition: 0.3s;
}
.home-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
.social {
  margin: 0 15px 0 0;
}
.social li {
  margin: 10px;
  transition: 0.3s;
}
.is-active {
  color: var(--main-color);
}

