.navbar{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.left-menu {
  display: flex;
  flex-flow: row;
}
ul {
  list-style-type: none;
  display: flex;
  flex-font: row wrap;
  margin: 0;
  padding: 0;
}
img {
  width: 25px;
  height: 25px;
}
.menu li {
  padding: 20px;
}
.menu li:hover {
  transition: 0.3s;
  color: orangered;
  cursor: pointer;
}
.home-button {
  background-color: orange;
  border: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.home-button:hover {
  transition: 0.3s;
  background-color: orangered;
  cursor: pointer;
}
