
ul li {
  margin: 18px 0 18px 0;
}
.skills {
  margin-top: 5px !important;
}
.container {
  margin: 29px;
}
.sub-container {
  width: 50%;
  margin: 0 15px;
}
.bar-box {
  display: flex;
  flex-flow: column;
}
.progress-bar {
  width: 100%;
  height: 7px;
  background-color: #ccc;
  border-radius: 20px;
}
.progress {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  background-color: orangered;
}
.square::before {
  content: "";
  width: 45px;
  height: 45px;
  border-left: 2px solid orange;
  border-top: 2px solid orange;
  background: transparent;
  display: block;
  margin-left: -13px;
  margin-top: -13px;
  position: absolute;
  transition: 0.3s;
}
.square::after {
  content: "";
  width: 45px;
  height: 45px;
  border-right: 2px solid orange;
  border-bottom: 2px solid orange;
  background: transparent;
  display: block;
  position: relative;
  margin-top: -30px;
  margin-left: 95%;
  transition: 0.3s;
}
.line-right {
  height: 313px;
  width: 2px;
  background-color: orange;
}

