<div class="home panel">
  <div class="container">
    <h3 class="title">Coś o mnie</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum, dolor vitae posuere ultrices, augue massa pretium lorem, sed auctor purus urna vitae ligula. Curabitur venenatis ut felis eget placerat. In ac nulla orci. Donec at nisl nibh. Sed porttitor arcu id laoreet auctor. Vestibulum felis nibh, volutpat in libero vitae, facilisis blandit enim. Curabitur ornare ligula tellus, eu dapibus nisl dignissim at. Fusce cursus purus laoreet placerat aliquet. In hac habitasse platea dictumst. Praesent varius bibendum orci in consequat. Suspendisse id mi vehicula, volutpat lorem id, tempus erat. Pellentesque pellentesque nibh at leo pretium gravida. In at laoreet est. Pellentesque eleifend rutrum augue, maximus dignissim tortor suscipit a. Donec cursus metus consectetur nunc rhoncus, non suscipit nisi venenatis. </p>
  </div>
  <div class="container">
    <div class="skill-box">
      <h3 class="title">Umiejętności</h3>
      <div class="skill">
        <h3 class="subtitle">Java</h3>
        <div class="progress-bar"><div class="progress" style="width: 35%;"></div></div>
      </div>
    </div>
    <div class="knowledge-box">

    </div>
  </div>
</div>
