 <div class="container column square">
    <h2>Coś o mnie</h2>
    <p>Jestem ambitną i twórczą osobą, która konsekwentnie dąży do swoich marzeń i celów. A jednym z takich celi jest tworzenie oprogramowania i możliwość wzięcia udziału w uznanym projekcie. Dlatego też każdą wolną chwile poświęcam na naukę i praktykę programowania.
      Obecnie skupiam się na nauce Javy, Spring i Angular. Swoją naukę opieram głównie na książkach i forach internetowych.</p>
  </div>
 <div class="container row skills">
    <div class="sub-container column">
      <h3>Programowanie</h3>
      <ul>
        <li>
          <h4>Java SE</h4>
          <div class="progress-bar"><div class="progress" style="width: 48%;"></div></div>
        </li>
        <li>
          <h4>HTML5</h4>
          <div class="progress-bar"><div class="progress" style="width: 46%;"></div></div>
        </li>
        <li>
          <h4>JavaScript</h4>
          <div class="progress-bar"><div class="progress" style="width: 30%;"></div></div>
        </li>
        <li>
          <h4>CSS</h4>
          <div class="progress-bar"><div class="progress" style="width: 70%;"></div></div>
        </li>
        <li>
          <h4>SQL</h4>
          <div class="progress-bar"><div class="progress" style="width: 64%;"></div></div>
        </li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="sub-container column">
      <h3>Frameworki</h3>
      <ul>
        <li>
          <h4 class="skill-name">Angular</h4>
          <div class="progress-bar"><div class="progress" style="width: 45%;"></div></div>
        </li>
        <li>
          <h4 class="skill-name">Spring</h4>
          <div class="progress-bar"><div class="progress" style="width: 64%;"></div></div>
        </li>
      </ul>
    </div>
    </div>
