:host {
  display: flex;
  flex-flow: column;
}
ul li {
  margin: 18px 0 18px 0;
}
.skills {
  margin-top: 20px !important;
}
.sub-container {
  width: 50%;
  margin: 0 15px;
}
.bar-box {
  display: flex;
  flex-flow: column;
}
.progress-bar {
  width: 100%;
  height: 7px;
  background-color: #ccc;
  border-radius: 20px;
}
.progress {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  background-color: var(--accent-color);
}
.square::before {
  content: "";
  width: 45px;
  height: 45px;
  border-left: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  display: block;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  transition: 0.3s;
}
.square::after {
  content: "";
  width: 45px;
  height: 45px;
  border-right: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  display: block;
  position: relative;
  margin-top: -27px;
  margin-left: 95%;
  #transition: 0.3s;
}
.line {
  width: 2px;
  margin: 0 10px 0 10px;
  background-color: var(--main-color);
}
