<div class="container">
  <h2 class="left-line">Projekty</h2>
  <div class="column">
    <div class="project">
     <img class="project-image" src="assets/website.jpg">
      <div class="column content">
        <div class="column">
          <h3>Strona CV</h3>
          <p>Strona będąca nowoczesnym "Curriculum vitae", a także pierwszym upublicznionym produktem. Projekt jest w trakcie rozwoju i wykorzystuje framework Angular.</p>
        </div>
        <ul class="row links">
          <a href="https://github.com/MarcinBerry/resume-website"><li><img class="icon" src="assets/github-logo.png"/></li></a>
        </ul>
      </div>
   </div>
  </div>
</div>
