<div class="container">
  <h2 class="left-line">Projekty</h2>
  <div class="column">
    <div class="project">
     <img class="project-image" src="/assets/photos/website.jpg">
      <div class="column content">
        <div class="column">
          <h3>Strona CV</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis augue. Fusce gravida id dolor vitae aliquet. Aliquam quis pharetra mauris, sed condimentum risus.</p>
        </div>
        <ul class="row links">
          <a href="https://github.com/MarcinBerry"><li><img class="icon" src="/assets/photos/github-logo.png"/></li></a>
        </ul>
      </div>
   </div>
  </div>
</div>
