:host {
  display: flex;
  flex-flow: row;
}
.container {
  width: 50%;
}
.line {
  display: block;
  width: 2px;
  margin: 9% 0 0 0;
  background-color: orange;
}
.description {
  margin-left: 15px;
}
.description li {
  margin: 6px 0 6px 8px;
}
.description li:before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid orange;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  margin-top: 3px;
  margin-left: -13px;
}

