<div class="container">
    <h2 class="left-line">Doświadczenie</h2>
    <ul class="experience">
      <li>
        <h4>Starostwo Powiatowe w Łęcznej</h4>
        <h5>Podinspektor ds. Informatyki</h5>
        <ul class="description">
          <li>
            <p>Utrzymywanie infrastruktury komputerowej</p>
          </li>
          <li>
            <p>Administrowanie infrastrukturą sieciową i systemami informatycznymi urzędu</p>
          </li>
          <li>
            <p>Administrowanie stroną internetową powiatu (Wordpress) oraz Biuletynem Informacji Publicznej</p>
          </li>
          <li>
            <p>Wdrażanie nowych stanowisk komputerowych</p>
          </li>
          <li>
            <p>Bezpośrednie wsparcie użytkownika końcowego</p>
          </li>
          <li>
            <p>Wybór i zakup sprzętu komputerowego oraz rozliczanie zakupów sprzętu</p>
          </li>
          <li>
            <p>Diagnozowanie usterek sprzętu komputerowego i sieci LAN</p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<div class="line"></div>
<div class="container">
    <h2 class="left-line">Wykształcenie</h2>
    <ul>
      <li>
        <h4>Politechnika Lubelska</h4>
        <h5>Inżynier</h5>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis augue. Fusce gravida id dolor vitae aliquet. Aliquam quis pharetra mauris, sed condimentum risus.</p>
      </li>
      <li>
        <h4>Technikum Ekonomiczno-Handlowe</h4>
        <h5>Technik Informatyk</h5>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis augue. Fusce gravida id dolor vitae aliquet. Aliquam quis pharetra mauris, sed condimentum risus.</p>
      </li>
    </ul>
  </div>
