<div class="container experience">
  <h2>Doświadczenie</h2>
  <ul>
    <li>
      <p class="date">08.2019 - teraz</p>
      <h4>Starostwo Powiatowe w Łęcznej</h4>
      <h5>Podinspektor ds. Informatyki</h5>
      <ul class="description">
        <li>
          <p>Utrzymywanie infrastruktury komputerowej</p>
        </li>
        <li>
          <p>Administrowanie infrastrukturą sieciową i systemami informatycznymi urzędu</p>
        </li>
        <li>
          <p>Administrowanie stroną internetową powiatu (Wordpress) oraz Biuletynem Informacji Publicznej</p>
        </li>
        <li>
          <p>Wdrażanie nowych stanowisk komputerowych</p>
        </li>
        <li>
          <p>Bezpośrednie wsparcie użytkownika końcowego</p>
        </li>
        <li>
          <p>Wybór i zakup sprzętu komputerowego oraz rozliczanie zakupów sprzętu</p>
        </li>
        <li>
          <p>Diagnozowanie usterek sprzętu komputerowego i sieci LAN</p>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="line"></div>
<div class="container education">
  <h2>Wykształcenie</h2>
  <ul>
    <li>
      <p class="date">10.2019 - teraz</p>
      <h4>Politechnika Lubelska</h4>
      <h5>Inżynier</h5>
      <p class="description">Studia o kierunku Informatycznym, prowadzone w systemie niestacjonarnym z&nbsp;specjalizacją
        inżynierii oprogramowania. </p>
    </li>
    <li>
      <p class="date">09.2014 - 05.2018</p>
      <h4>Technikum Ekonomiczno-Handlowe</h4>
      <h5>Technik Informatyk</h5>
      <p class="description">W technikum poznałem:</p>
      <ul class="description">
        <li><p>Podstawy działania, zarządzania i naprawy urządzeń komputerowych.</p></li>
        <li><p>Podstawy działania sieci komputerowych</p></li>
        <li><p>Pierwsze języki programowania min. JavaScript, C++, HTML i CSS</p></li>
      </ul>
    </li>
  </ul>
</div>
