:host {
  display: flex;
  flex-flow: row;
}
.container {
  width: 49%;
}
.experience {
  margin-right: 0;
}
.education {
  margin-left: 0;
}
.line {
  display: block;
  width: 2px;
  margin: 9% 29px 0 28px;
  background-color: var(--main-color);
}
.description li:before {
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid var(--main-color);
  display: block;
  position: absolute;
  transform: rotate(45deg);
  margin-top: 3px;
  margin-left: -13px;
}
.date {
  color: #555;
  letter-spacing: 1px;
  margin: 0 0 3px 0;
  font-size: 13px;
  font-style: italic;
}
.description li {
  margin: 11px 0 6px 20px;
}
h4 {
  margin-top: 3px;
}
li {
  margin: 15px 0 30px 0px;
}
.education p {
  #text-align: justify;
}
@media only screen and (max-width: 1015px ) {
  .line {
    height: 545px;
  }
}
@media only screen and (max-width: 815px) {
  .line {
    height: 455px;
  }
}

@media only screen and (max-width: 615px) {
  .line {
    margin: 9% 13px 0 9px;
    height: 550px;
  }
}

