<div class="panel row">
  <div class="container">
    <h3>Doświadczenie</h3>
    <ul>
      <li>
        <h4>Starostwo Powiatowe w Lęcznej</h4>
        <h5>Podinspektor ds. Informatyki</h5>
        <div class="description">
          <ul>
            <li>

            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <span class="line"></span>
  <div class="container">
    <h3>Wykształcenie</h3>
    <ul>
      <li>
        <h4>Politechnika Lubelska</h4>
        <h5>Inżynier</h5>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis augue. Fusce gravida id dolor vitae aliquet. Aliquam quis pharetra mauris, sed condimentum risus.</p>
        </div>
      </li>
      <li>
        <h4>Technikum Ekonomiczno-Handlowe</h4>
        <h5>Technik Informatyk</h5>
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non convallis augue. Fusce gravida id dolor vitae aliquet. Aliquam quis pharetra mauris, sed condimentum risus.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
