:host {
  margin: 0 auto;
  width: 1000px;
  display:flex;
  flex-flow: column;
}
footer {
  background: #2c2c2c;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: white;
  margin: 15px;
  font-size: 14px;
}
.footer-container {
  height: 30px;
  margin-top: 36px;
}
navbar {
  width: 100%;
}
profile {
  width: 28%;
}
.app {
  width: 72%;
  height: 600px;
}
@media only screen and (max-width: 1015px ) {
  :host{
    width: 800px;
  }
}
@media only screen and (max-width: 815px) {
  :host {
    width: 600px;
  }
  .content {
    flex-flow: column;
  }
  profile {
    order: 1;
    width: 570px;
  }
  .app {
    width: 570px;
  }
}
@media only screen and (max-width: 615px) {
  :host {
    width: 500px;
  }
  profile {
    width: 470px;
  }
  .app {
    width: 470px;
  }
}
