:host {
  display: block;
  width: 30%;
}
.header-container {
  margin: 16px 0px 0px 19px;
}
.header-name {
  font-size: 28px;
  font-weight: 700;
}
.header-job {
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}
.profile-image {
  width: 100%;
  margin-top: -9px;
  clip-path: polygon(100% 100%, 0 84%, 0 13%, 100% 0);
}
ul {
  margin: -13px auto 0;
}
li {
  padding: 7px 0 8px 9px;
}
li p {
  font-size: 14px;
  letter-spacing: 0;
  transition: 0.3s;
}
li:hover p {
  color: black;
}
.decor-square::before {
  content: "";
  width: 20px;
  height: 25px;
  border-left: 1px solid orange;
  border-bottom: 1px solid orange;
  background: transparent;
  display: block;
  margin-left: -10px;
  margin-top: -1px;
  position: absolute;
  transition: 0.3s;
}
.decor-square:hover::before {
  border-color: orangered;
  width: 180px;
}
.decor-square:hover {
  border-color: orangered;
}
.icon {
  margin-left: 6px;
  width: 19px;
  height: 19px;
}
.button {
  margin: 25px auto 25px;
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background: orange;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  transition: 0.3s;
  opacity: 1;
  font-weight: 600;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.button:hover {
  cursor: pointer;
  background: orangered;
}
