<div class="profile-layout panel">
  <div class="title">
    <p class="name">Marcin Bernecki</p>
    <p class="job"> Podinspektor ds. Informatyki</p>
  </div>
  <div class="image">
    <img src="assets/photos/profile-photo.jpg">
  </div>
  <ul class="details">
    <li class="profile-details__link decor-square zoom-in">Imię: Marcin Bernecki</li>
    <li class="profile-details__link decor-square zoom-in">Data urodzenia: 32 kwietnia 2020</li>
    <li class="profile-details__link decor-square zoom-in">Praca: </li>
    <li class="profile-details__link decor-square zoom-in">E-mail: mail@mail.com</li>
  </ul>
  <button>Pobierz CV</button>
</div>
