<div class="profile-layout__vertical">
  <div class="title">
    <p class="name">Marcin Bernecki</p>
    <p class="subtitle"> Podinspektor ds. Informatyki</p>
  </div>
  <div class="image">
    <img  src="assets/photos/profile-photo.jpg">
  </div>
  <ul class="details">
    <li class="profile-details__link">Imię: Marcin Bernecki</li>
    <li class="profile-details__link">Data urodzenia: 32 kwietnia 2020</li>
    <li class="profile-details__link">Praca: </li>
    <li class="profile-details__link">E-mail: mail@mail.com</li>
  </ul>
</div>
