.header-container {
  margin: 16px 0 0 19px;
}
.header-name {
  font-size: 28px;
  font-weight: 700;
}
.header-job {
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}
.profile-image {
  width: 100%;
  margin-top: -9px;
  clip-path: polygon(100% 100%, 0 84%, 0 13%, 100% 0);
}
ul {
  margin: -13px 25px 0;
}
li {
  padding: 7px 0 8px 8px;
}
li p {
  font-size: 14px;
  letter-spacing: 0;
  transition: 0.3s;
}
li:hover p {
  color: black;
}
.decor-square::before {
  content: "";
  width: 20px;
  height: 25px;
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  display: block;
  margin-left: -10px;
  margin-top: -1px;
  position: absolute;
  transition: 0.3s;
}
.decor-square:hover::before {
  border-color: var(--accent-color);
  width: 230px;
  #width: 100%;
}
.decor-square:hover {
  border-color: var(--accent-color);
}
.icon {
  margin-left: 6px;
  width: 15px;
  height: 15px;
}
.button:hover {
  cursor: pointer;
  background: var(--accent-color);
}
span {
  color: black;
}
