<div class="header-container">
  <h1 class="header-name">Marcin Bernecki</h1>
  <h4 class="header-job"> Podinspektor ds. Informatyki</h4>
</div>
<img class="profile-image" src="assets/profile-photo.jpg">
<div class="details">
  <ul>
    <li class="decor-square zoom-in"><p><span>Imię:</span> Marcin Bernecki</p></li>
    <li class="decor-square zoom-in"><p><span>Data urodzenia:</span> 7 stycznia 1998</p></li>
    <li class="decor-square zoom-in"><p><span>Praca:</span> Starostwo Powiatowe</p></li>
    <li class="decor-square zoom-in"><p><span>E-mail:</span> berneckimarcin@gmail.com</p></li>
  </ul>
</div>
<a href="assets/Bernecki%20Marcin%20CV.pdf">
  <div class="button">
    Pobierz CV
  </div>
</a>
