/* You can add global styles to this file, and also import other style files */
body {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  #background: url("/assets/photos/background.png");
  background-color: #ddd;
  cursor: default;
  font-size: 14px;
}
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.panel {
  background: #fff;
  margin: 13px;
  border-radius: 8px;
  box-shadow: 0 0 2px gray;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
