/* You can add global styles to this file, and also import other style files */
body {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  #background: url("/assets/photos/background.png");
  background-color: #ddd;
  cursor: default;
  font-size: 14px;
  color: #333;
}
.panel {
  background: #fff;
  margin: 13px;
  border-radius: 8px;
  box-shadow: 0 0 1px white;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.zoom-in:hover {
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}
.zoom-in-larger:hover {
  transition: 0.3s;
  transform: scale(1.22, 1.22);
}
.row {
  display: flex;
  flex-flow: row;
}
.column {
  display: flex;
  flex-flow: column;
}
ul {
  list-style-type: none;
}
p {
  font-size: 13px;
  letter-spacing: 1px;
}
h2 {
  font-size: 22px;
  margin: 11px 0 28px 16px;
}
h3 {
  margin: 10px 0 15px 0;
}
h4 {
  font-weight: 500;
  margin-bottom: 8px;
}
