/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html, body, app-root {
  height: 100%
}
body {
  --main-color: orange;
  #--accent-color: #2b2e48;
  --accent-color: orangered;
  --font-color1: #333;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color1);
  #background: url("assets/background.jpg");
  background-image: linear-gradient(#aaa, #ddd, #ddd);
  #background-color: #ddd;
  cursor: default;
  font-size: 14px;
  #margin: -13px 0 0 0;
}
a {
  color: var(--font-color1);
  text-decoration: none;
}
h2 {
  font-size: 22px;
  margin: 11px 0 28px 16px;
  font-weight: 800;
}
h3 {
  margin: 10px 0 15px 0;
  font-weight: 700;
  font-size: 16px;
}
h4 {
  margin: 15px 0 9px 0;
  font-weight: 600;
  font-size: 14px;
}
h5 {
  margin: 9px 0 12px;
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
}
ul {
   list-style-type: none;
}
p {
  color: #666;
  font-size: 12px;
  letter-spacing: 1px;
}
a {
  cursor: default;
}
.panel {
  background: #fff;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 0 4px #dddddd;
}
.zoom-in:hover {
  transition: 0.3s;
  transform: scale(1.05, 1.05);
}
.zoom-in-larger:hover {
  transition: 0.3s;
  transform: scale(1.22, 1.22);
}
.row {
  display: flex;
  flex-flow: row;
}
.column {
  display: flex;
  flex-flow: column;
}
.container {
  margin: 29px 35px 29px 35px;
}
.button {
  #margin: 28px auto 35px;
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background: var(--main-color);
  letter-spacing: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.button:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}
/*h2 {*/
/*  color: var(--main-color);*/
/*  text-shadow: 2px 2px 0px black;*/
/*}*/
